@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #1B2345;
  line-height: 1.5;
  font-family: "Caveat", cursive;
}

main {
  padding: 1rem;
  max-width: 1100px;
  margin: auto;
}

main > h1 {
  text-align: center;
  color: #F3DC06;
  margin-bottom: 2rem;
  font-family: 'Permanent Marker';
  font-size: 2rem;
}

#app {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  grid-gap: 1.5rem;
  justify-content: center;
  align-items: center;
}

.card {
  width: 12rem auto;
  background: #616A74;
  color: #e4c439;
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.2s ease-in-out all;
}

.card:hover {
  transform: scale(1.05);
}

.card--id {
  background: #E61310;
  width: 3rem;
  color: white;
  padding: 0.1rem;
  font-weight: 700;
  font-family: 'Press Start 2P';
  position: absolute;
  border-radius: 0 0 10px 0;
  top: 0;
  left: 0;
}
.card--name {
  color: #fff;
  font-family: 'Press Start 2P';
  font-size: 1.1rem;
  font-weight: 700;
}

.card--image {
  width: 150px;
  display: block;
  margin: auto;
}

.card--details {
  font-family: 'Press Start 2P';
  font-size: 0.65rem;
  color: #F3DC06;
}
